.news12{
    background: url("/images/contact.webp");
  }
  
  .news1212 {
    background: url("/1/7.webp");
  }
  

.news12, .news1212 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  
  .news12::before, .news1212::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Уровень затемнения (0.5 = 50% черного) */
    z-index: 1; /* Позволяет разместить контент поверх затемнения */
  }
  
  .news12 > *, .news1212 > * , .navbar  > * {
    position: relative;
    z-index: 2; 
  }
  