.contact-form-container {
  color: #0c1f45;
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex{
  display: flex;
  justify-content: space-between;
}

.contact-form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact-header {
  font-size: 2.5rem;
  color: #0c1f45;
  text-transform: uppercase;
  margin: 0 2% 2%;
  letter-spacing: 2px;
  text-align: left;
  border-bottom: 2px solid #0c1f45;
  padding: 1% 0;
  width: 27%;
}

.contact-form {
  padding: 3% 2%;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 2%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  color: #0c1f45;
  outline: none;
  transition: border-color 0.3s ease;
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: #0c1f45;
}

input:focus,
textarea:focus {
  border-color: #0c1f45;
}

textarea {
  height: 150px;
  resize: none;
  border: none;
}

.send-btn {
  background:#0c1f45;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  margin: 2% auto 0;
}

.send-btn:hover {
  transform: scale(1.);
}

.form-status {
  margin-top: 20px;
  font-size: 1rem;
  color: #0c1f45;
  text-align: center;
}

.contact-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  min-height: 75vh;
  padding: 20px;
  box-sizing: border-box;
}
.contact-content {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 20px;
} 
.contact-map {
  flex: 1;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
}
.contact-form-container{
  flex: 1;

}

@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-content {
    flex-direction: column;
    gap: 20px;
  }

  .contact-map,
  .contact-form-container {
    width: 100%;
    height: auto;
  }

  .contact-header {
    font-size: 2rem;
  }

  .contact-form {
    padding: 20px;
  }

  input,
  textarea {
    font-size: 0.9rem;
  }

  .send-btn {
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 400 !important;
  }

}
@media (max-width: 480px) {
  .contact-header{

    font-size: 1.4rem;
  }
  .contact-form{
    padding: 5% 0 0;
  }
  
  .send-btn {
    font-size: 0.4rem;
    display: flex;
    justify-content: center;
  }
}