.faq-container {
  padding: 20px;
  min-height: 80vh;
  position: relative;
  z-index: 1;
  padding: 0 4%;
  color: #0c1f45;
}

.faq-header {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
  color: #0c1f45;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 3px solid #0c1f45;
  display: inline-block;
  padding-bottom: 10px;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px 20px;
  background-color: #ffffff;
  color: #0c1f45;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  width: 95%;
  margin: 0 auto 1% ;
  flex-direction: row-reverse;

}

.faq-question:hover {
  background-color: #0c1f45;
  color: #ffffff;
  transform: translateY(-2px);
}

.faq-icon {
  margin-left: 15px;
  font-size: 1.5rem;
  color: inherit;
  transition: transform 0.3s ease;
}

.faq-icon.rotated {
  transform: rotate(180deg);
}

.faq-answer {
  white-space: pre-line;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
  opacity: 0;
  width: 95%;
  padding: 0; /* Убираем отступы в закрытом состоянии */
  margin: 0 auto;
  color: #0c1f45;
  background-color: #ffffff;
  border-radius: 8px;
  height: 0; /* Высота закрытого ответа = 0 */
}

.faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding: 15px 20px; /* Восстанавливаем отступы только в открытом состоянии */
  height: auto; /* Высота авто в открытом состоянии */
  margin-bottom: 15px; /* Добавляем отступ только у открытого ответа */
}


@media (max-width: 768px) {
  .faq-question,
  .faq-answer {
    width: 90%;
  }

  .faq-header {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .faq-header {
    text-align: left;
    font-size: 1.5rem;
  }

  .faq-question,
  .faq-answer {
    width: 100%;
  }

  .faq-question {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  .faq-answer {
    padding: 10px 15px;
    font-size: 0.85rem;
  }
}
