.navbar {
  width: 100%;
  padding: 1rem 2rem;
  background-color: transparent;
  color: white;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar-logo {
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.navbar-logo a {
  text-decoration: none;
  color: inherit;
}

.navbar-logo:hover {
  color: #ffffffc9;
}

.navbar-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 99;
}

.navbar-menu-container.open {
  transform: translateX(0);
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
}

.navbar-menu a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #d4dae9;
}

/* .language-switcher {
  position: relative;
  display: flex;
  align-items: center;
}

.language-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.language-menu {

  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.language-switcher:hover .language-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.language-menu li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-menu li:hover {
  background-color: #f0f0f0;
} */

.language-icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}


.lang-mob{
  display: flex;
  padding: 2% 0;
  gap: 5%;
  align-items: center;
  justify-content: center;
  li{
    padding:0  4%;
  }
  display: none;
}

.language-switcher {
  position: relative;
}

/* .language-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.language-menu li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}

.language-menu li:hover {
  background-color: #f0f0f0;
}

.language-icon {
  width: 24px;
  height: 24px;
} */
.logo12{
  width: 10%;
}
.navbar.scrolled a:hover {
  color: #f0f0f0;
}

.navbar {
  width: 100%;
  padding: 2rem 4rem;
  background-color: transparent;
  color: white;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.svgg{
  fill: white;
}
.navbar.scrolled {
  background-color: #0c1f45;
}
.navbar.scrolled .navbar-menu a:hover {
  color: #f0f0f0;
}
.merge{
  display: flex;
  gap: 20px;
} 

.navbar  > * {
  position: relative;
  z-index: 2; 
}


.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 100;
  position: relative;
}
.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Верхняя линия */
.hamburger.open .hamburger-line:nth-child(1) {
  transform: translateY(6px) rotate(45deg) !important;
}

/* Нижняя линия */
.hamburger.open .hamburger-line:nth-child(2) {
  transform: translateY(-7px) rotate(-45deg) !important;
}



/* Language Switcher */
.language-switcher {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
}

.language-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.language-btn:hover {
  color: #d4dae9;
}

.language-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff !important;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  z-index: 100;
  padding: 1% 3%;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.language-switcher:hover .language-menu {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.language-menu li {
  display: flex;
  align-items: center;
  /* padding: 0.8rem 1.2rem; */
  cursor: pointer;
  color: #0c1f45;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap; /* предотвращает перенос текста */
  padding: 1% 3%;
}

.language-menu li:hover {
  background-color: #f4f4f4;
  color: #0056b3;
}

.language-menu img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

/* Mobile View */
/* @media (max-width: 768px) {
  .language-switcher {
    display: none;
  }

  .lang-mob {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .lang-mob li {
    display: inline-block;
    padding: 0.5rem;
  }

  .lang-mob img {
    width: 24px;
    height: 24px;
  }
} */

.language-switcher {
  position: relative;
  display: flex;
  align-items: center;
}
.language-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.language-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.language-switcher:hover .language-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.language-menu li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.language-menu li:hover {
  background-color: #f0f0f0;
}
.language-icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
  .navbar-menu-container {
    position: static;
    transform: translateX(0);
    background: transparent;
    flex-direction: row;
    height: auto;
    width: auto;
  }
  .navbar-menu {
    flex-direction: row;
    gap: 2rem;
  }
  .language-menu {
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: auto;
    left: auto;
    background: transparent;
    box-shadow: none;
  }
  .language-menu li {
    padding: 0.2rem 0;
    background: transparent;
  }
  .language-menu li:hover {
    background: none;
  }
}

.language-switcher {
  position: relative;
}
.language-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.language-menu {
  position: absolute;
  top: 34px;
  left: 0;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.language-menu li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
}
.language-menu li:hover {
  background-color: #f0f0f0;
}
.language-icon {
  width: 24px;
  height: 24px;
}
.logo12{
  width: 10%;
}
.navbar.scrolled a:hover {
  color: #f0f0f0;
}

@media (max-width: 768px) {
  .language-switcher {
    display: none;
  }
  .navbar{
    padding: 4% ;
  } 
  .navbar-logo{
    width: 50%;
  }
  .about-section h2{
    text-align: left !important;
  }
  .about-section h2::after{
    width: 100%;
  }
  .about-section p{
    width: 100%;
  }
  .about-section p{
    width: 100% !important;
    max-width: 100% !important;
  }
  .background{
    background-position:0% !important;
  }
  .subtitle{
    width: 100% !important;
    font-size: 1rem;
  }
  .slider-text{
    max-width: 100% !important;
  }
  .title1{
    margin-bottom:1rem;
  }
  .lang-mob{
    display: flex;
  }
  .navbar-menu{
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
  }
}

@media (max-width: 480px) {
  .language-switcher {
    display: none;
  }
  .navbar{
    padding: 4% ;
  } 
  .navbar-logo{
    width: 50%;
    a{
      font-size: 1rem;
    }
  }
  .about-section h2::after{
    width: 100%;
  }
  .about-section p{
    width: 100%;
    max-width: 100%;
  }
  .description{
    font-size: 1rem !important;
  }
  .lang-mob{
    display: flex;
  }
  .navbar-menu{
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
  }
}